.scene {
    height: 100vh;
    width: 100%;
    perspective: 10vmin;
    position: fixed;
}

body {
    background: black;
    background-image:
            radial-gradient(circle at 25% 25%, hsl(343,80%,7%) 0%, hsla(343,80%,10%,0) 40%),
            radial-gradient(circle at 40% 40%, hsl(343,80%,7%) 0%, hsla(343,80%,10%,0) 40%),
            radial-gradient(circle at 25% 52%, hsl(243,80%,9%) 0%, hsla(243,80%,10%,0) 50%),
            radial-gradient(circle at 65% 56%, hsl(143,80%,8%) 0%, hsla(143,80%,10%,0) 60%);
    background-blend-mode: screen
}

button {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: transparent;
    border: .25rem solid currentColor;
    border-radius: 1rem;
    color: hsl(173, 100%, 50%);
    font-size: 1.2em;
    padding: .7rem 1.5rem
}
.hyper button {
    color: hsl(343, 100%, 50%);
}

.star {
    width: 1.5vmin;
    height: 0.1vmin;

    transform:
            translateZ(-100vmin)
            rotateY(90deg)
            rotateX(var(--rx))
            translateZ(var(--x))
            scaleX(1);
    position: absolute;
    top: 0%;
    left: 0%;

    animation: none 900ms infinite ease-in;

    background: white;
}

@keyframes hyper {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform:
                rotateY(90deg)
                rotateX(var(--rx))
                translateZ(var(--x))
                scaleX(6);
    }
}

.content>.inner{
    margin-left: 200px;
    margin-right: 200px;
    background: white;
}

.content > *{
    padding: 10px;
}

.content > * > * {
    padding: 10px;
}

.content > * > * > *{
    padding: 10px;
}

.content > * > * > * > *{
    padding: 10px;
}

.content > * > * > * > * > *{
    padding: 10px;
}

.content > * > * > * > * > *> *{
    padding: 10px;
}

.content > * > * > * > * > *> * >*{
    padding: 10px;
}

.content > * > * > * > * > *> * >* >*{
    padding: 10px;
}

.content > * > * > * > * > *> * >* >* >*{
    padding: 10px;
}

.content > * > * > * > * > *> * >* >* >* >*{
    padding: 10px;
}

.content > * > * > * > * > *> * >* >* >* >* >*{
    padding: 10px;
}

.acknowledge> li{
    padding-left: 20px;
}

.contact{
    list-style: none;
}


.xingxing {
    --rect: 15px;
    background-size: var(--rect) var(--rect);
    background-repeat: no-repeat;
    width: var(--rect);
    height: var(--rect);
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    float: left;
}

.full_xing {
     background-image: url("../image/full.png");
 }

.half_xing {
    background-image: url("../image/half.png");
}

.empty_xing {
    background-image: url("../image/empty.png");
}